<h4>Ingrese un producto:</h4>

<form id="formulario" method="POST" action="/">
    <label for="title">Titulo:</label>
    <input type="text" name="title" id="title" class="row twelve columns" required>

    <label for="price">Precio:</label>
    <input type="text" name="price" id="price" class="row twelve columns" required>

    <label for="url">Url de imagen:</label>
    <input type="text" name="url" id="url" class="row twelve columns" required>

    <input class="button-primary" type="submit" value="Enviar">

</form>

<script>
    document.getElementById('formulario').onsubmit=()=>{
        let titulo= document.getElementById('title').value
        let precio= document.getElementById('price').value

        alert('Nuevo producto agregado: \n Titulo:' + titulo + '\n Precio: $' + precio
        )
    }
</script>

<div>
    <h4>Vista de productos:</h4>
    <fieldset>
        <ul id="products">
        </ul>
    </fieldset>

    <h3>Chat</h3>
    <fieldset>
        <ul>
            <label for="mail">Mail:</label>
            <input type="text" name="mail" id="mail">
            <label for="mensaje">Mensaje:</label>
            <input type="text" name="message" id="message">
        </ul>
        <button id="btnsend">Enviar</button>
    </fieldset>
    <fieldset>
        <ul id="messages">
        </ul>
    </fieldset>

    <script>

        const socket = io()

        const input= document.getElementById("message")

        const inputmail= document.getElementById("mail")

        const btn= document.getElementById("btnsend")

        socket.on('ProductsBackend',(productos)=>{
            console.log(productos)
            let inner=''
            productos.map((producto)=>{
                console.log(producto)
                inner+=`
                <tr>
                    <td><h4>Tittle: ${producto.producto.title}</td></h4>
                    <td><h5>Price: $ ${producto.producto.price}</td></h5>
                    <td><img class="thumbnail" src=${producto.producto.url}></td></img>
                    <td><h1></td> </h1>
                </tr>
            `
            })
            document.getElementById('products').innerHTML=inner
        })

        btn.addEventListener("click",()=>{
            socket.emit('messageFront',input.value,inputmail.value)
        })

        socket.on('messageBackend',(data)=>{
            let inner=''
            data.map((message)=>{
                inner+=`
                <li>
                    <div> ${message.producto.mail} [${message.producto.fecha}] : ${message.producto.text} </div>
                </li>
            `
            })
            document.getElementById('messages').innerHTML=inner
        })
    </script>
</div>