<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Vista de productos</title>
    <meta name="descripcion" content="Vista de productos">
    <meta name="viewport" content="widht-device-width, initial-scale-1">
    <link href="/public/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="/public/css/skeleton.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/public/images/favicon">
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="one-half column mt-4">

                {{{ body }}}

            </div>
        </div>
    </div>
</body>
</html>